.image_list:hover{
    border: 1px dashed #001529;
    cursor: pointer;
}

.upload_btn{
    border: 1px dashed #d9d9d9;
}

.upload_btn:hover{
    border: 1px dashed #001529;
    cursor: pointer;
}

.radio-custom .ant-radio-wrapper {
    border: 2px solid #ccc;
    border-radius: 80px;
    padding: 4px;
    margin-top: 10px;
}

.radio-custom .ant-radio-wrapper-checked {
    border: 2px solid #001529;
    border-radius: 80px;
    padding: 4px;
}

.radio-custom .ant-radio {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

.radio-custom .ant-radio + * {
    display: block;
    padding: 0;
    overflow: hidden;
    border-radius: 80px;
}

.radio-custom img {
    width: 80px;
    height: 80px;
}
